.sidebar {
	margin-top: 30px;
}
.sidebar .media-body{
	margin-top: 100px;
}
.content {
	margin-top: 10px;
}
.feedback table{
	margin-bottom: 20px;
}
.feedback table th{
	padding: 10px 20px;
}